button {
  border-radius: 5px;
  position: absolute;
  top: -2px;
  right: 7px;
  padding: 7px;
  background-color: blue;
  color: white;
}
button:focus {
  background: royalblue !important;
}
#city-search {
  float: left;
  background: gray;
  width: 100%;
  height: 450px;
  padding: 10px;
  border: 1px solid lightgrey;
}
.dateTitle {
  font-size: 15px;
  font-weight: bold;
}

.forecast {
  float: left;
  background: linear-gradient(
    37deg,
    rgba(109, 109, 255, 1) 26%,
    rgba(157, 238, 255, 1) 100%
  );
  color: white;
  padding: 12px;
  border-radius: 5px;
  margin-right: 10px;
}
header {
  background: black;
  color: white;
  text-align: center;
  margin-top: -41px;
}
header h2 {
  line-height: 153%;
}
#info-holder {
  background: lightgray;
  width: 100%;
  height: 270px;
  border: 1px solid grey;
  padding-left: 20px;
}
input {
  background-color: transparent !important;
  width: 80% !important;
  height: 30px !important;
  float: left;
  border: 1px solid lightgray !important;
}
input:focus {
  border-bottom-color: blue !important;
}
label {
  color: black !important;
  font-size: 22px !important;
}
.recent-city {
  border: 1px solid lightgray;
  padding-left: 10px;
  font-size: 15px;
  cursor: pointer;
}
.recent-city:hover {
  background: lightblue;
}
.recent-city:active .recent-city:focus {
  background: blue;
  color: white;
  top: -1px;
}
#search-wrapper {
  position: relative;
}
ul {
  line-height: 40px;
  font-size: 20px;
}
ul p {
  border-bottom: 1px solid lightgray;
  padding-bottom: 5px;
}
